<?xml version="1.0"?>
<config>
    <modules>
        <Techinflo_Checkavailability>
            <version>1.2.3</version>
        </Techinflo_Checkavailability>
    </modules>
    <global>
        <models>
            <checkavailability>
                <class>Techinflo_Checkavailability_Model</class>
            </checkavailability>
        </models>
        <resources>
			<techinflo_checkavailability_setup>
				<setup>
					<module>Techinflo_Checkavailability</module>
					<class>Techinflo_Checkavailability_Model_Resource_Setup</class>
				</setup>
			
			</techinflo_checkavailability_setup> 
		</resources>
        <helpers>
            <checkavailability>
                <class>Techinflo_Checkavailability_Helper</class>
            </checkavailability>
        </helpers>
        <blocks>
            <checkavailability>
                <class>Techinflo_Checkavailability_Block</class>
            </checkavailability>
        </blocks>
    </global>
    <frontend>
        <routers>
            <checkavailability>
                <use>standard</use>
                <args>
                    <module>Techinflo_Checkavailability</module>
                    <frontName>checkavl</frontName>
                </args>
            </checkavailability>
        </routers>
        <layout>
            <updates>
                <checkavl>
                    <file>techinflo_checkavl.xml</file>
                </checkavl>
            </updates>
        </layout>
    </frontend>
 
</config>

