<?xml version="1.0"?>
<config>
    <tabs>
        <myconf translate="label">
            <label>Techinflo</label>
            <sort_order>150</sort_order>
        </myconf>
    </tabs>
    <sections>
        <techinflo_checkavailability translate="label" module="adminhtml">
            <label>Check Availability</label>
            <tab>myconf</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label comment">
                    <label>General</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label comment">
                            <label>Enable/Disable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>0</sort_order>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                    </fields>
                </general>
                <settings> 
                    <label>Custom Message</label>
                    <sort_order>51</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                                            
                        
                        <success translate="label">
                            <label>Succeess Message</label>
                            <frontend_type>text</frontend_type>
                            <comment>Avaliable in your location.</comment>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </success>
                        <failure translate="label">
                            <label>Failure Message</label>
                            <frontend_type>text</frontend_type>
                            <comment>Not available in your location yet. </comment>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </failure>
<!--                        <failurecartproduct translate="label">
                             <label>Failure Message in Cart with Products</label>
                            <frontend_type>text</frontend_type>
                            <comment>The seller doesn't ship this item to your location.</comment>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </failurecartproduct>-->
                        <failurecart translate="label">
                             <label>Failure Message in Cart</label>
                            <frontend_type>text</frontend_type>
                            <comment>There are items in your cart that cannot be shipped to your location.</comment>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </failurecart>
                    </fields>
                </settings>
            </groups>
        </techinflo_checkavailability>
    </sections>
</config>