<?xml version="1.0"?>
<config>
    <modules>
        <Techinflo_Zipcodeavailability>
            <version>0.1.0</version>
        </Techinflo_Zipcodeavailability>
    </modules>
	<global>
		<blocks>
            <zipcodeavailability>
                <class>Techinflo_Zipcodeavailability_Block</class>
            </zipcodeavailability>
        </blocks>
        <models>
            <zipcodeavailability>
                <class>Techinflo_Zipcodeavailability_Model</class>
                <resourceModel>zipcodeavailability_mysql4</resourceModel>
            </zipcodeavailability>
            <zipcodeavailability_mysql4>
                <class>Techinflo_Zipcodeavailability_Model_Mysql4</class>
                <entities>
                    <zipcodeavailability>
                        <table>zipcodeavailability</table>
                    </zipcodeavailability>
					<productzipcode>
                        <table>zipcodeavailability_productzipcode</table>
                    </productzipcode>
                </entities>
            </zipcodeavailability_mysql4>
        </models>
        <resources>
            <zipcodeavailability_setup>
                <setup>
                    <module>Techinflo_Zipcodeavailability</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zipcodeavailability_setup>
            <zipcodeavailability_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zipcodeavailability_write>
            <zipcodeavailability_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zipcodeavailability_read>
        </resources>
		<helpers>
            <zipcodeavailability>
                <class>Techinflo_Zipcodeavailability_Helper</class>
            </zipcodeavailability>
        </helpers>
		<events>
			<checkout_cart_product_add_after>
                <observers>
					<automatic_set_shipping>
						<class>zipcodeavailability/observer</class>
						<method>checkZipcodeAvailable</method>
					</automatic_set_shipping>
				</observers>
            </checkout_cart_product_add_after>
		<!--	<sales_quote_collect_totals_before>
				<observers>
					<automatic_set_shipping>
						<class>zipcodeavailability/observer</class>
						<method>checkZipcodeAvailable</method>
					</automatic_set_shipping>
				</observers>
			</sales_quote_collect_totals_before>
			<checkout_cart_update_items_after>
                <observers>
					<automatic_set_shipping>
						<class>zipcodeavailability/observer</class>
						<method>checkZipcodeAvailable</method>
					</automatic_set_shipping>
				</observers>
            </checkout_cart_update_items_after>            
            <sales_quote_remove_item>
                <observers>
					<automatic_set_shipping>
						<class>Techinflo_Categorymanager_Model_Observer</class>
						<method>checkZipcodeAvailable</method>
					</automatic_set_shipping>
				</observers>
            </sales_quote_remove_item>
            <controller_action_postdispatch_checkout_cart_estimatePost>
                <observers>
					<automatic_set_shipping>
						<class>Techinflo_Categorymanager_Model_Observer</class>
						<method>checkZipcodeAvailable</method>
					</automatic_set_shipping>
				</observers>
            </controller_action_postdispatch_checkout_cart_estimatePost> -->
		</events>
    </global>
    <frontend>
        <routers>
            <zipcodeavailability>
                <use>standard</use>
                <args>
                    <module>Techinflo_Zipcodeavailability</module>
                    <frontName>zipcodeavailability</frontName>
                </args>
            </zipcodeavailability>
        </routers>
        <layout>
            <updates>
                <zipcodeavailability>
                    <file>zipcodeavailability.xml</file>
                </zipcodeavailability>
            </updates>
        </layout>
		
    </frontend>
    <admin>
        <routers>
			<zipcodeavailability>
				<use>admin</use>
				<args>
					<module>Techinflo_Zipcodeavailability</module>
					<frontName>zipcodeavailability</frontName>
				</args>
			</zipcodeavailability>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<zipcodeavailability>
					<file>zipcodeavailability.xml</file>
				</zipcodeavailability>
			</updates>
		</layout>
		<menu>
		<catalog>
			<children>
			<zipcodeavailability module="zipcodeavailability">
				<title>Zipcode Availability Templates</title>
				<sort_order>190</sort_order>               
				<action>zipcodeavailability/adminhtml_zipcodeavailability</action>
			</zipcodeavailability>
			</children>
		</catalog>
		</menu>
        <events>
            <catalog_product_save_after>
                <observers>
                    <zipcodeavailability_save_product_data>
                        <type>singleton</type>
                        <class>zipcodeavailability/observer</class>
                        <method>saveProductTabData</method>
                    </zipcodeavailability_save_product_data>
                </observers>
            </catalog_product_save_after>			
		</events>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Techinflo_Zipcodeavailability>
							<title>Zipcodeavailability Module</title>
							<sort_order>10</sort_order>
						</Techinflo_Zipcodeavailability>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
</config>